@media screen and (min-width: 1500px) {
    /* video. 영역 */
    .videoArea{position: relative; line-height: 0;}
    .videoArea video{width: 100%; height: calc(100vh - 106px); /* max-height: 950px; min-height: 600px; */ object-fit: cover;}
    .videoArea button{position: absolute; left: 50%; bottom: 135px; transform: translateX(-50%); width: 210px; height: 64px; font-size: 14px; font-weight: 500; color: white; display: flex; justify-content: center; align-items: center; border: 1px solid white; opacity: 0; transition: 0.5s opacity; pointer-events: none;}
    .videoArea button::before{content: ''; width: 25px; height: 25px; background: url('../images/icon-play.png') no-repeat center / cover; margin-right: 8px;}
    .videoArea button.active{opacity: 1; pointer-events: all;}

    /* invite 영역 */
    .inviteArea{/* height: 100vh; */ background: url('../images/inviteBG.png'); color: white; text-align: center;}
    .inviteArea > div{height: 100%; display: flex; flex-direction: column; align-items: center; padding-top: 100px; box-sizing: border-box;}
    .inviteArea > div::after{content: ''; width: 66.4%; max-width: 1275px; aspect-ratio: 1275 / 454; margin-top: auto; background: url('../images/inviteImg.png') no-repeat center / cover;}
    .inviteArea > div > h2{font-size: 40px;}
    .inviteArea > div > p{font-size: 24px; line-height: 45px; max-width: 800px;}
    .inviteArea > div > p:first-of-type{margin: 60px 0;}
    .inviteArea > div > button{font-size: 17px; width: 256px; line-height: 70px; background-color: #1d262d; border-radius: 50px; margin-top: 30px; position: relative;}
    .inviteArea > div > button::after{content: ''; position: absolute; inset: 5px; border: 2px solid #0071e3; border-radius: inherit;}

    /* features */
    .featuresArea > *{}
    .featuresArea :is(.stepsArea , .profilesArea){display: flex; /* min-height: 1080px; */}
    .featuresArea .stepsArea{flex-direction: column;}
    .featuresArea > *:not(.freeArea) h2{font-size: 40px; color: #78879c; margin-bottom: 30px;}
    .featuresArea > * p{font-size: 20px; line-height: 2; color: rgba(29, 38, 45, 0.5);}

    .featuresArea .stepsArea{width: calc(100% - 100px); justify-content: center; align-items: center; text-align: center; padding: 120px 0; margin: 0 auto;}
    .featuresArea .stepsArea p:last-of-type{margin-bottom: 150px;}
    .featuresArea .stepsArea > div > span{display: none;}
    .featuresArea .stepsArea > div .swiper{overflow: visible; width: 100%; max-width: 1650px;}
    .featuresArea .stepsArea > div .swiper ol{display: flex; justify-content: center; gap: 11%;  margin: 0 auto;}
    .featuresArea .stepsArea > div .swiper ol li{max-width: 486px;}
    .featuresArea .stepsArea > div .swiper ol li:not(:last-child){position: relative;}
    .featuresArea .stepsArea > div .swiper ol li:not(:last-child):after{content: ''; position: absolute; right: -25%; top: 50%; transform: translateY(-50%); width: 7.7%; aspect-ratio: 33 / 66; background: url('../images/icon-next.png') no-repeat center / cover;}
    .featuresArea .stepsArea > div .swiper ol li b{display: block; font-size: 24px; font-weight: 600; color: #53585b; margin-bottom: 10px;}
    .featuresArea .stepsArea > div .swiper ol li img{width: 100%;}
    .featuresArea .stepsArea > div .swiper .swiper-pagination{display: none;}
    .featuresArea .stepsArea > div .swiper-button-prev{display: none;}
    .featuresArea .stepsArea > div .swiper-button-next{display: none;}

    .featuresArea .profilesArea{align-items: center; width: calc(100% - 120px); margin: 0 auto; padding: 110px 0;}
    .featuresArea .profilesArea img{max-width: 604px; width: 33.55%; margin-right: 4.27%;}
    .featuresArea .profilesArea figcaption{padding-right: 90px;}
    .featuresArea .profilesArea figcaption h2{line-height: 1.5;}
    .featuresArea .profilesArea figcaption::after{content: ''; display: block; width: 49%; aspect-ratio: 550 / 526; background: url('../images/features02-img02.png') no-repeat center / cover; margin: 70px auto 0;}

    .featuresArea .chatArea{text-align: center; max-width: 1000px; margin: 0 auto; padding-top: 120px;}
    .featuresArea .chatArea::after{content: ''; display: block; width: 100%; aspect-ratio: 1958 / 1371; margin-top: 140px; background: url('../images/features03-img01.png') no-repeat center / cover;}

    .featuresArea .signingArea{display: flex; justify-content: space-between; align-items: center; width: calc(100% - 100px); max-width: 1400px; margin: 0 auto; padding: 180px 0;}
    .featuresArea .signingArea div p:not(:last-of-type){margin-bottom: 40px;}
    .featuresArea .signingArea img{width: 375px; margin-left: 14%;}

    .featuresArea .freeArea{max-width: 1920px; margin: 0 auto;}
    .featuresArea .freeArea > *{width: 86.5%; margin-left: auto;}
    .featuresArea .freeArea h2{font-size: 48px; line-height: 875px; text-align: center; color: white; background: url('../images/features05-BG.png') no-repeat center / cover; position: relative;}
    .featuresArea .freeArea h2::before{content: ''; position: absolute; left: -149px; top: 50%; transform: translateY(-50%); background: url('../images/features05-img.png') no-repeat center / cover; width: 340.7px; height: 740px;}
    .featuresArea .freeArea p{padding: 42px 4.89% 85px 2.5%; box-sizing: border-box;}

    /* campaign */
    .campaignArea{--backgroundColor: #f5f6f8; padding: 85px 0; background-color: var(--backgroundColor); width: calc(100% - 100px); max-width: 1700px; margin: 0 auto; display: flex; align-items: center; box-shadow: 0 0 0 100vmax var(--backgroundColor); clip-path: inset(0 -100vmax);}
    .campaignArea::before , .campaignArea::after{content: ''; flex-shrink: 0; background-repeat: no-repeat; background-position: center; background-size: cover;}
    .campaignArea::before{ width: 330px; aspect-ratio: 1 / 1; background-image: url('../images/campaingImg01.png');}
    .campaignArea::after{ width: 450px; aspect-ratio: 450 / 315; background-image: url('../images/campaingImg02.png');}
    .campaignArea div{margin: 0 45px;}
    .campaignArea div p{font-size: 20px; line-height: 35px; color: rgba(0, 0, 0, 0.5);}
    .campaignArea div p:not(:last-child){margin-bottom: 35px;}
    .campaignArea div p a{color: #2e9fff; font-weight: 500;}

    /* app */
    .appArea{width: calc(100% - 100px); max-width: 1400px; margin: 0 auto; padding-block: 250px; padding-right: 500px; box-sizing: border-box; position: relative;}
    .appArea::after{content: ''; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 28.5%; aspect-ratio: 398.1 / 591.3; background: url('../images/appImg.png') no-repeat center / cover;}
    .appArea h2{font-size: 40px; color: #78879c; margin-bottom: 75px;}
    .appArea div{width: 203px; height: 68px; background: url('../images/icon-app.png') no-repeat center / cover;  margin: 0 auto 75px; position: relative;}
    .appArea div a{position: absolute; top: 0; height: 100%; width: 94px; text-indent: -9999px;}
    .appArea div a:nth-child(1){left: 0;}
    .appArea div a:nth-child(2){right: 0;}
    .appArea p{font-size: 20px; line-height: 2; color: rgba(29, 38, 45, 0.5);}
    .appArea p:not(:last-of-type){margin-bottom: 20px;}
}