@media screen and (min-width: 750px) and (max-width: 1499px) {
    /* video. 영역 */
    .videoArea{position: relative; line-height: 0;}
    .videoArea video{width: 100%; height: calc(100vh - 66px); /* max-height: 950px; min-height: 600px; */ object-fit: cover;}
    .videoArea button{position: absolute; left: 50%; bottom: 77px; transform: translateX(-50%); width: 210px; height: 64px; font-size: 14px; font-weight: 500; color: white; display: flex; justify-content: center; align-items: center; border: 1px solid white; opacity: 0; transition: 0.5s opacity; pointer-events: none;}
    .videoArea button::before{content: ''; width: 25px; height: 25px; background: url('../images/icon-play.png') no-repeat center / cover; margin-right: 8px;}
    .videoArea button.active{opacity: 1; pointer-events: all;}

    /* invite 영역 */
    .inviteArea{/* height: 100vh; */ background: url('../images/test.gif') no-repeat center / cover; color: white; text-align: center; position: relative;}
    .inviteArea::before{content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(46, 159, 255, 0.87);}
    .inviteArea > div{height: 100%; display: flex; flex-direction: column; align-items: center; padding-top: 70px; box-sizing: border-box; position: relative; z-index: 1;}
    .inviteArea > div::after{content: ''; width: 60%; min-width: 622px; max-width: 900px; aspect-ratio: 1275 / 454; margin-top: auto; background: url('../images/inviteImg.png') no-repeat center / cover; margin-top: 60px;}
    .inviteArea > div > h2{font-size: 28px; line-height: 45px; margin-bottom: 40px;}
    .inviteArea > div > p{font-size: 16px; line-height: 1.5; max-width: 550px;}
    .inviteArea > div > p:first-of-type{margin-bottom: 10px;}
    .inviteArea > div > button{font-size: 13.5px; width: 205px; line-height: 56px; background-color: #1d262d; border-radius: 50px; margin-top: 50px; position: relative;}
    .inviteArea > div > button::after{content: ''; position: absolute; inset: 5px; border: 2px solid #0071e3; border-radius: inherit;}

    /* features */
    .featuresArea{/* width: calc(100% - 100px); margin: 0 auto; */}
    .featuresArea > *{}
    .featuresArea :is(.stepsArea , .profilesArea){display: flex; /* min-height: 1080px; */}
    .featuresArea .stepsArea{flex-direction: column;}
    .featuresArea > *:not(.freeArea) h2{font-size: 28px; color: #78879c; margin-bottom: 40px;}
    .featuresArea p{font-size: 16px; line-height: 1.5; color: rgba(29, 38, 45, 0.5);}
    .featuresArea p:not(:last-of-type){margin-bottom: 20px;}

    .featuresArea .stepsArea{max-width: 1500px; width: calc(100% - 100px); justify-content: center; align-items: center; text-align: center; padding-top: 70px; margin: 0 auto;}
    .featuresArea .stepsArea p:last-of-type{margin-bottom: 50px;}
    .featuresArea .stepsArea > div{width: 100%;}
    .featuresArea .stepsArea > div > span{display: none;}
    .featuresArea .stepsArea > div .swiper{overflow: visible; width: 100%;}
    .featuresArea .stepsArea > div .swiper ol{display: flex; justify-content: center; gap: 5%; max-width: 1000px;  margin: 0 auto;}
    .featuresArea .stepsArea > div .swiper ol li{max-width: 486px;}
    .featuresArea .stepsArea > div .swiper ol li:not(:last-child){position: relative;}
    .featuresArea .stepsArea > div .swiper ol li:not(:last-child):after{content: ''; position: absolute; right: -8%; transform: translate(50% , -50%); top: 50%; width: 16px; aspect-ratio: 33 / 66; background: url('../images/icon-next.png') no-repeat center / cover;}
    .featuresArea .stepsArea > div .swiper ol li{counter-increment: featuresSteps;}
    .featuresArea .stepsArea > div .swiper ol li b{display: block; font-size: 14px; font-weight: 600; color: #53585b;}
    .featuresArea .stepsArea > div .swiper ol li b::before{content: counter(featuresSteps)'. ';}
    .featuresArea .stepsArea > div .swiper ol li img{width: 100%; max-width: 300px;}
    .featuresArea .stepsArea > div .swiper .swiper-pagination{display: none;}
    .featuresArea .stepsArea > div .swiper-button-prev{display: none;}
    .featuresArea .stepsArea > div .swiper-button-next{display: none;}

    .featuresArea .profilesArea{max-width: 1500px; align-items: center; flex-wrap: wrap; width: calc(100% - 100px); margin: 0 auto; padding-top: 70px;}
    .featuresArea .profilesArea img{width: 300px; margin-right: 50px;}
    .featuresArea .profilesArea figcaption{flex: 1;}
    .featuresArea .profilesArea figcaption h2{line-height: 1.5;}
    .featuresArea .profilesArea::after{content: ''; display: block; width: 100%; height: 300px; background: url('../images/features02-img02.png') no-repeat center / 300px;}

    .featuresArea .chatArea{width: calc(100% - 100px); text-align: center; max-width: 800px; margin: 0 auto; padding-top: 70px;}
    .featuresArea .chatArea::after{content: ''; display: block; width: 100%; max-width: 600px; aspect-ratio: 1958 / 1371; margin: 50px auto 0; background: url('../images/features03-img01.png') no-repeat center / cover;}

    .featuresArea .signingArea{width: calc(100% - 100px); display: flex; justify-content: space-between; align-items: center; max-width: 900px; margin: 0 auto; padding: 70px 0;}
    .featuresArea .signingArea div{max-width: 550px;}
    /* .featuresArea .signingArea div p:not(:last-of-type){margin-bottom: 40px;} */
    .featuresArea .signingArea img{width: 300px; margin-left: 50px;}

    .featuresArea .freeArea{max-width: 1920px; margin: 0 auto;}
    .featuresArea .freeArea > *{width: 86.5%; margin-left: auto;}
    .featuresArea .freeArea h2{font-size: 25px; line-height: 454px; text-align: center; color: white; background: url('../images/features05-BG.png') no-repeat center / cover; position: relative;}
    .featuresArea .freeArea h2::before{content: ''; position: absolute; left: -70px; top: 50%; transform: translateY(-50%); background: url('../images/features05-img.png') no-repeat center / cover; width: 176px; height: 393px;}
    .featuresArea .freeArea p{padding: 40px 50px 70px 10px; color: rgba(29, 38, 45, 0.5); box-sizing: border-box;}

    /* campaign */
    @media screen and (max-width: 1099px){
        .campaignArea{--backgroundColor: #f5f6f8; width: calc(100% - 100px); padding: 70px 0; background-color: var(--backgroundColor); max-width: 1700px; margin: 0 auto; display: flex; align-items: center; box-shadow: 0 0 0 100vmax var(--backgroundColor); clip-path: inset(0 -100vmax);}
        .campaignArea div::before , .campaignArea div::after{content: ''; flex-shrink: 0; background-repeat: no-repeat; background-position: center; background-size: cover;}
        .campaignArea div{max-width: 1500px; margin: 0 auto; position: relative;}
        .campaignArea div::before{position: absolute; left: 0; top: -45px; width: 150px; aspect-ratio: 1 / 1; background-image: url('../images/campaingImg01.png');}
        @media screen and (max-width: 930px){
            .campaignArea div::before{top: -20px;}
        }
        .campaignArea div::after{position: absolute; right: 0; bottom: -5px; width: 200px; aspect-ratio: 450 / 315; background-image: url('../images/campaingImg02.png');}
        .campaignArea div p{font-size: 16px; line-height: 1.5; color: rgba(0, 0, 0, 0.5);}
        .campaignArea div p:nth-child(-n + 2){padding-left: 200px;}
        .campaignArea div p:nth-child(n + 3){padding-right: 250px;}
        .campaignArea div p:nth-child(2n + 1){margin-bottom: 10px;}
        .campaignArea div p:nth-child(2){margin-bottom: 20px;}
        .campaignArea div p:nth-child(4){padding-bottom: 30px;}
        .campaignArea div p a{color: #2e9fff; font-weight: 500;}
    }
    @media screen and (min-width: 1100px){
        .campaignArea{--backgroundColor: #f5f6f8; width: calc(100% - 100px); max-width: 1500px; padding: 70px 0; background-color: var(--backgroundColor); margin: 0 auto; display: flex; align-items: center; gap: 50px; box-shadow: 0 0 0 100vmax var(--backgroundColor); clip-path: inset(0 -100vmax);}
        .campaignArea::before , .campaignArea::after{content: ''; flex-shrink: 0; display: block; background-repeat: no-repeat; background-position: center; background-size: cover;}
        .campaignArea div{max-width: 1500px; margin: 0 auto; position: relative;}
        .campaignArea::before{width: 150px; aspect-ratio: 1 / 1; background-image: url('../images/campaingImg01.png');}
        .campaignArea::after{width: 200px; aspect-ratio: 450 / 315; background-image: url('../images/campaingImg02.png');}
        .campaignArea div p{font-size: 16px; line-height: 1.5; color: rgba(0, 0, 0, 0.5);}
        .campaignArea div p:nth-child(-n + 2){}
        .campaignArea div p:nth-child(n + 3){}
        .campaignArea div p:nth-child(2n + 1){margin-bottom: 10px;}
        .campaignArea div p:nth-child(2){margin-bottom: 20px;}
        .campaignArea div p:nth-child(4){padding-bottom: 30px;}
        .campaignArea div p a{color: #2e9fff; font-weight: 500;}
    }

    /* app */
    .appArea{max-width: 1000px; width: calc(100% - 100px); margin: 0 auto; padding-block: 110px; padding-right: 360px; box-sizing: border-box; position: relative;}
    .appArea::after{content: ''; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 300px; aspect-ratio: 398.1 / 591.3; background: url('../images/appImg.png') no-repeat center / cover;}
    .appArea h2{font-size: 25px; line-height: 1.2; color: #78879c; margin-bottom: 50px;}
    .appArea div{max-width: 458px; width: 100%; height: 45px; background: url('../images/icon-app.png') no-repeat center / auto 100%;  margin-bottom: 50px; position: relative;}
    .appArea div a{position: absolute; top: 0; left: 50%; height: 100%; width: 70px; text-indent: -9999px;}
    .appArea div a:nth-child(1){transform: translateX(-100%);}
    /* .appArea div a:nth-child(2){transform: translateX(50px);} */
    .appArea p{font-size: 16px; line-height: 1.5; color: rgba(29, 38, 45, 0.5);}
    .appArea p span{display: block;}
    .appArea p:not(:last-of-type){margin-bottom: 10px;}
}